<div class="col-xs-4 col-sm-4">


<%= simple_form_for([@pro, @service]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: "Service name", placeholder: "e.g., Bootcamp training, Nutritional assessment, etc" %>
    <%= f.input :description, label: "Description of the service", placeholder: "What is invovled in this service?" %>
    <%= f.input :length, label: "Service length in minutes", placeholder: "Please input in minutes only!" %>
    <%= f.input :price, label: "Service total price", placeholder: "$ - Numbers only,  no dollar sign needed" %>

  </div>
<br>
<div class="form-actions">
    <%= f.submit "Save", class: 'f_bold btn btn-default btn-theme btn-lg' %>
    </div>


<% end %>
</div>