<section class="upcoming-evets">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
          <div class="col-sm-12">
            <div class="base-container">
              <div class="section-title">
                <ul class="list-inline">
                  <li class="base-title">Welcome! Join our network of experts</li>
                </ul>
              </div>
<p>Already have an account?  <%= render "devise/shared/links" %></p>
<p>Join as a consumer. <%= link_to "Get Notified", new_elist_path, "data-no-turbolink" => true %> when we launch.</p>
<% resource.build_pro if resource.pro.nil? %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "form-control" ) do |f| %>
  <%= f.error_notification %>



  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-4 col-sm-4">
        <div class="section-title">
          <ul class="list-inline">
            <li class="f_bold">Create an account</li>
          </ul>
        </div>
 
    <%= f.input :name, required: true, autofocus: true, :label => 'First name' %>

    <%= f.simple_fields_for :pro do |pro| %>
      <%= pro.input :last_name, :label => 'Last name' %>      
    <% end %>

    <%= f.input :city, required: true, input_html: {id: "locality"} %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :email, required: true %>    
    <%= f.input :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>


 </div>

  <div class="col-xs-4 col-sm-4 col-md-offset-2">
        <div class="section-title">
          <ul class="list-inline">
              <li class="f_bold">Please select your area of expertise</li>
          </ul>
        </div>
         
    <% # This section should only show for people who are registering as pros.
    %>    
    <%= f.input :trainer, :as => :boolean, label: "Personal Training" %>
    <%= f.input :stylist, :as => :boolean, label: "Personal Fashion Stylist" %>
    <%= f.input :dietician, :as => :boolean , label: "Dietician " %>
    <%= f.input :nutritionist, :as => :boolean, label: "Nutritionist" %>
    <%= f.input :health_coach, :as => :boolean , label: "Health / Nutrition Coach" %>
    <%= f.input :career_coach, :as => :boolean, label: "Career Coach" %>
    <%= f.input :life_coach, :as => :boolean, label: "Life Coach" %>
    <%= f.input :level, as: :hidden, input_html: {value: '2'} %>
  </div>
  </div>
  </div>
<br>
<div class="form-actions">
    <%= f.submit "Join Now", class: 'f_bold btn btn-default btn-theme btn-lg' %>
    </div>
  </div>
<% end %>

<%= render "users/script_city_autocomplete" %>
    </div>
    </div>
</div>  
</section>
