<footer>
<div class="container">
<div class="row">

<div class="col-sm-4 col-md-4">
<h3>Learn More</h3>
<ul>
<li><%= link_to "Our Mission", pages_mission_path %></li> 
<li><%= link_to "About us", pages_about_path %></li>   
</ul>
</div>

<div class="col-sm-4 col-md-4">
<h3>Explore</h3>
<ul>
<li><%= link_to "For Experts", pages_info_path %></li> 
<li><%= link_to "Contact us", new_contact_path %></li> 
</ul>
</div>

<div class="col-sm-4 col-md-4">
<h3>Connect</h3>
<br>
<a href="https://www.facebook.com/goodlooks.me/?" class="fa fa-facebook"></a>  <a href="https://twitter.com/goodlooks_me" class="fa fa-twitter"></a> <a href="https://www.instagram.com/goodlooks/" class="fa fa-instagram"></a> <a href="https://www.linkedin.com/company/goodlooks" class="fa fa-linkedin"></a>
</div>

</div>
</div>

<div class="copy">Copyright &copy; GoodLooks, LLC, All Right Reserved
<ul>

<%= link_to "Terms of Service  |  ", pages_terms_path %>
<%= link_to "Privacy Policy", pages_privacy_path %> 

</ul>
</div> 
</footer>

