<header class="navbar navbar-fixed-top">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
                <ul class="list-unstyled list-inline logo">
                    <li>
                      <%= link_to root_path do %>
                      <image src="https://s3-us-west-1.amazonaws.com/goodlooks/logo.png", alt="GoodLooks Logo" >
                      <% end %>

         </div>

            <div class="col-sm-6">
                <ul class="list-unstyled list-inline navbar-right">
                    <li>
                        <!-- User button -->
                        <div class="btn-group">
                          <% if user_signed_in? %>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                <b><%= current_user.name %></b>
                            </button>
                          

                            <ul class="dropdown-menu">
                                <% if current_user.level == 2 %>

                                <li><%= link_to "Profile", pro_path(current_user.pro.id)
                                 %></li>
                                <% end %>
                                <li><%= link_to "Account", edit_user_registration_path %></li>                                
                                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                            </ul>
                            
                            <% else %>

                    <li>
                        <div class="btn-group">                            
                       <%= link_to new_user_registration_path, "data-no-turbolink" => true, class: 'f_bold btn btn-default btn-theme btn-lg' do %>
                          Expert Sign-up
                        <% end %>    
                    </li>

                    <li>
                        <div class="btn-group">      
                          <%= link_to info_path, "data-no-turbolink" => true, class: 'f_bold btn btn-default btn-theme btn-lg' do %>
                          Info for Experts
                          <% end %>                                
                        </div>
                    </li>


                            <% end %>                            
                        </div>



            </div>
        </div>

</header>