<h1>Homepage</h1>
<br>

	<% if user_signed_in? %>
		<h3>Welcome <%= current_user.name %></h3> 
		 	<% if current_user.level == 2 %>
		 		<%= image_tag current_user.pro.image.url(:medium) %><br>
		 		<%= link_to "Review your profile", edit_pro_path(current_user.pro.id) %><br>
		 		<%= link_to "See your service offering", pro_services_path(current_user.pro.id)
		 		 %><br>
		 		<%= #link_to "Add a new services", new_pro_service_path(current_user.pro.id) 
		 		%>
	 		
			<% end %>	 	
	<% end %>

<br><br>

<a href="#" id="show_whatever">Test javascript section</a>
<div id="whatever" class="hidden">This text is supposed to be hidden until click</div>



