<h1>Homepage</h1>
<br>

	<% if user_signed_in? %>
		<h3>Welcome <%= current_user.name %></h3> 
		 	<% unless current_user.pro.id.nil? %>
		 		<%= image_tag current_user.pro.image.url(:medium) %><br>
		 		<%= link_to "View your profile", pro_path(current_user.pro.id) %><br>
		 		<%= link_to "Edit your profile", edit_pro_path(current_user.pro.id) %><br>
		 		 
		 		<%= link_to "Add a service", new_pro_service_path(current_user.pro.id)
		 		 %><br>

		 		<%= link_to "Add images to your portfolio", new_photo_path
		 		 %><br>

		 		<%= link_to "profile", pros_profile_path(current_user.pro.id)
		 		 %><br>

		 		<%= #link_to "See all my services", pro_service_path(current_user.pro.id)
		 		%>
	 		
			<% end %>	 	
	<% end %>

<br><br>

<a href="#" id="show_whatever">Test javascript section</a>
<div id="whatever" class="hidden">This text is supposed to be hidden until click</div>



