<home>
	<div class="jumbotron">
  <div class="container">
    
      <div class="row">
      <div class="col-sm-12">

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>

    <div class="alert-wrap">
      <div class="alert alert-<%= name.to_s == :notice ? "success" : "warning" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
      </div>
    <% end %>
  <% end %>  

      </div>
      </div>
      <div class="carousel-caption">
      <div class="row">
       <% if user_signed_in? %>
       <div class="col-sm-12">
       <h2>Welcome back <%= current_user.name %>! </h2> 
       <% else %>
       <div class="col-sm-6 col-md-7">
        <% end %>

        <h1>A NEW WAY TO SHINE<br>
          FROM THE INSIDE OUT</h1>
        <p>GoodLooks connects you with high-quality, vetted experts<br>
          allowing you to look, feel, and be your best.<br>
          Find an expert from our selection of:</p>
          <ul>

            <li>Personal stylists</li>
            <li>Career and life coaches</li>
            <li>Nutritionists</li>
            <li>Personal trainers</li>
          </ul>
        </div>


  <% if user_signed_in? %>
<div class="col-sm-6 col-md-5 be-the">  
  </div>
  <% else %>  
<h3 class="be-the">Join our mailing list</h3>

<div class="col-sm-6 col-md-5 be-the">  
 <%= render :partial => '/elists/hform' %>
  </div>
  <% end %>


</div>
</div>
 </div>
</div> 



<section id="why-use">
<div class="container">
<div class="row">
<h2>Why Use Goodlooks</h2>
<p>Looking good starts from the inside out.  We are a community of like-minded users and experts who strive to be better.<br>
GoodLooks provides the inspiration and experts to help you achieve your personal growth goals.</p>
<div class="col-sm-12 col-md-12 photo"><img src="https://s3-us-west-1.amazonaws.com/goodlooks/photo.jpg" alt="Why use GoodLooks" class="img-responsive center"></div>

<div class="col-sm-12 col-md-12 use-middle">
<div class="col-sm-6 col-md-offset-1 col-md-5 box">
<div class="number"><h5>1</h5></div>
<h3>BREADTH OF EXPERTS</h3>
<p>Our platform has a wide variety of experts ranging from style to ﬁtness to nutrition to career know- how. We screen and vet all professional to ensure you receive qualiﬁed, top-tier advice.</p>
</div>

<div class="col-sm-6  col-md-offset-1 col-md-5 box">
<div class="number"><h5>2</h5></div>
<h3>EASY BOOKING &amp; SCHEDULING</h3>
<p>We are making transacting with our professionals easier than ever with up-to-date calender availablity and payment functionality ensuring all scheduling and payments occur in a secure, reliable environment.</p>
</div>

<div class="col-sm-6 col-md-offset-1 col-md-5 box">
<div class="number"><h5>3</h5></div>
<h3>LESS LEGWORK &amp; GUESWORK</h3>
<p>We offer advanced search and discovery tools and standardized professional proﬁles,so you can easily compare and ﬁnd right professional for you!</p>
</div>

<div class="col-sm-6 col-md-offset-1 col-md-5 box">
<div class="number"><h5>4</h5></div>
<h3>PERSONALIZED INSPIRATION</h3>
<p>Through our “Ask an Expert”, ”Share Some Wisdom”, and our Reﬂections Blog we are Focused on delivering you professional advice and guidance to help keep you inspired and motivated so you can achieve your goals.</p>
</div>
</div>

<div class="col-sm-12 col-md-12 center">
  <br>
    <h2>Are you are an expert?</h2>
    <p> Grow your clientele with GoodLooks</p>
<%= link_to info_path, "data-no-turbolink" => true, class: 'f_bold btn btn-default btn-theme btn-lg' do %>
Learn More
<% end %> 

</div>
</div>
</div>
</section>



<section id="sugar">
<div class="container">
<div class="row">
<h4>As Seen In</h4>
<div class="col-sm-12 col-md-12" align="center"><img src="https://s3-us-west-1.amazonaws.com/goodlooks/pop.png" alt="GoodLooks on PopSugar" class="img-responsive"></div>
</div>
</div>
</section>

<section id="experience">
<div class="container">
<div class="row">
<h2>The GoodLooks Experience</h2>


<div class="col-sm-4 col-md-4">
<img src="https://s3-us-west-1.amazonaws.com/goodlooks/advice.png" alt="GoodLooks Expert Advice" class="img-responsive center">
<h3>Answer &amp; Advice</h3>
<p>Our "Ask an Expert" tool lets Users Submit their questions to specialists and community Want to keep Private? No problem-post anonymously. We're here to make it easy for you to access experts and receive custom-tailored, quality advice.</p>
</div>
<div class="col-sm-4 col-md-4">
<img src="https://s3-us-west-1.amazonaws.com/goodlooks/mark.png" alt="GoodLooks 15 for $15 program" class="img-responsive center">
<h3>15 For $15</h3>
<p>Have some experts in mind, but unsure of who to choose? Our “15 for 15” program is a cost effective way do you to decide who right for you. Get 15-minutes with any expert For $15 so you can get comfortable with the right expert for you without spending a Fortune!</p>
</div>
<div class="col-sm-4 col-md-4">
<img src="https://s3-us-west-1.amazonaws.com/goodlooks/virtual.png" alt="GoodLooks In Person Services" class="img-responsive center">
<h3>Virtual &amp; In-person</h3>
<p>We know that experts are not alweays available in your area. So we offer virtual services so you can access anyone from anywhere. Prefer to work, with someone in-person? We also have professionals that offer physical services in-home or in-public spaces.</p>
</div>
<div class="col-sm-12 col-md-12" align="center">
<%= link_to new_user_registration_path, "data-no-turbolink" => true, class: 'f_bold btn btn-default btn-theme btn-lg' do %>
Sign Up
<% end %>                                
</div>

</div>
</div>
</section>

<section id="promise">
<div class="container">
<div class="row">
<h2>Our Promise</h2>
<p>At GoodLooks, our promise is to help you shine from the inside out. We take a holistic<br> approach to a better you, and we're the first in our industry to focus on it this way.</p>
<p>True beauty comes from true confidence.<br>
Feeling your best looks good on you.</p>
</div>
</div>
</section>

<section id="tomorrow">
<div class="container">
<div class="row">
<h1>Tomorrow Is calling.  Own it.</h1>
<br>
<div class="col-sm-12 col-md-12" align="center">

  <%= link_to new_user_registration_path, "data-no-turbolink" => true, class: 'f_bold btn btn-default btn-theme btn-lg' do %>
Sign Up
<% end %>  


  </div>
</div>
</div>
</section>

</home>

