<div class="col-xs-4 col-sm-4">

  <%= simple_form_for([@pro, @photo]) do |f| %>
<%= f.error_notification %>

      <div class="form-inputs">
      <%= f.input :title, label: "Photo title" %>
   	  <%= f.input :image, label: "Add a portfolio image", :as => :file %>

        </div>
   <br>


  <div class="form-actions">
    <%= f.submit "Submit", class: 'f_bold btn btn-default btn-theme btn-lg' %>
  </div>

<% end %>

</div>